<header class="header">
    <h1 class="headerTitle">
        Encuentra tu serie
    </h1>
    <form class=" js-form contentForm form">
        <label class="label" for="search">
            <input class="input js-input" type="text" id="search" placeholder="Introduce una serie" />
        </label>
        <button class="searchButton js-searchButton">
            <i class="icon js-search fas fa-search"></i>
        </button>
        <button class="reloadButton js-reloadButton">
            <i class=" js-reloadIcon reloadIcon fas fa-redo-alt"></i>
        </button>
    </form>
    <a class="firmLink" href="https://github.com/Sagramielgo" target="_blank" rel="noreferrer">
        <h5 class="copy">
            By #gitFuntastic&nbsp;
            <span>
                <i class="fas fa-paw "></i>
            </span>
            &nbsp;2021
        </h5>
    </a>
</header>