.favoritesContainer {
  margin: 20px;
  background-color: rgba(60, 50, 148, 0.5);
  border-radius: 20px;
}
.favoritesTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: $fontBrand;
  color: aliceblue;
  padding: 15px;
  @media all and (min-width: 768px) {
    font-weight: 700;
    font-size: 18px;
    padding: 24px;
  }
  @media all and (min-width: 1200px) {
    font-weight: 700;
    font-size: 24px;
    padding: 20px;
  }
}
.favoriteShow {
  cursor: pointer;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 15px;
  transition-property: transform 0.5 ease, box-shadow;
  transition-duration: 0.3s;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0px 0px 10px 1px rgba(0, 0, 0, 0.64);
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
  @media all and (min-width: 768px) {
    margin: 15px;
    width: 130px;
    height: 200px;
  }
  @media all and (min-width: 1200px) {
    width: 180px;
    height: 300px;
  }
}
.favoriteTitle {
  color: whitesmoke;
  font-size: 12px;
  padding: 10px 0 5px 0;
  text-align: center;
  font-weight: 500;
  font-family: $fontBrand;
  word-wrap: break-word;

  @media all and (min-width: 768px) {
    font-size: 14px;
  }
  @media all and (min-width: 1200px) {
    font-size: 16px;
  }
}
.favoriteImage {
  width: 75px;
  height: 90px;
  border-radius: 15px;
  align-items: center;

  @media all and (min-width: 768px) {
    width: 100px;
    height: 130px;
  }
  @media all and (min-width: 1200px) {
    width: 150px;
    height: 220px;
  }
}
.deleteButton {
  background-color: transparent;
  padding: 5px;
  color: white;
  font-size: 14px;
  border: none;
  @media all and (min-width: 768px) {
    font-size: 16px;
  }
  @media all and (min-width: 1200px) {
    font-size: 18px;
  }
}
