.favoritesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgba(60, 50, 148, 0.5);
  border-radius: 20px;
}
.favoritesTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: $fontBrand;
  color: aliceblue;
  padding: 15px 0 10px 0;
  @media all and (min-width: 768px) {
    font-weight: 700;
    font-size: 18px;
    padding: 15px 0 15px 0;
  }
  @media all and (min-width: 1200px) {
    font-weight: 700;
    font-size: 24px;
  }
}

.deleteFavorites {
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: salmon;
  font-family: $fontBrand;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition-property: transform 0.5 ease;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
.favoriteShow {
  cursor: pointer;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 15px;
  transition-property: transform 0.5 ease, box-shadow;
  transition-duration: 0.3s;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0px 0px 10px 1px rgba(0, 0, 0, 0.64);

  &:hover {
    transform: scale(1.1);
  }
  @media all and (min-width: 768px) {
    margin: 15px;
    width: 130px;
    height: 210px;
  }
  @media all and (min-width: 1200px) {
    width: 180px;
    height: 310px;
  }
}
.favoriteTitle {
  color: whitesmoke;
  font-size: 11px;
  padding: 5px 5px 0 5px;
  text-align: center;
  font-weight: 300;
  font-family: $fontBrand;

  @media all and (min-width: 768px) {
    font-size: 14px;
  }
  @media all and (min-width: 1200px) {
    font-size: 16px;
  }
}
.favoriteImage {
  width: 75px;
  height: 85px;
  border-radius: 10px;
  align-items: center;

  @media all and (min-width: 768px) {
    width: 100px;
    height: 120px;
  }
  @media all and (min-width: 1200px) {
    width: 150px;
    height: 210px;
  }
}
.deleteButton {
  background-color: transparent;
  padding: 5px;
  color: white;
  font-size: 14px;
  border: none;
  @media all and (min-width: 768px) {
    font-size: 16px;
  }
  @media all and (min-width: 1200px) {
    font-size: 18px;
  }
}
