.pageContainer {
  width: 100%;
  min-height: 80vh;
  background: url('../../assets/images/fantastic-car.jpg') no-repeat center
    center;
  background-size: cover;
}
.header {
  min-width: 100%;
  height: 150px;
  border-radius: 20px;
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(62, 31, 90, 0.6);
  @media all and (min-width: 768px) {
    height: 190px;
  }

  & .headerTitle {
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    font-family: $fontBrand;
    color: lightblue;
    padding: 15px 0;

    @media all and (min-width: 768px) {
      font-size: 46px;
      padding: 25px 0;
    }

    @media all and (min-width: 1200px) {
      text-align: center;
    }

    & .label {
      border: 2px solid grey;
      background-color: lightslategray;
      align-items: center;
      height: 28px;
      width: 220px;
      border-radius: 10px;
      font-family: $fontBrand;
      font-weight: bold;
    }
  }
}
.icon {
  cursor: pointer;
  width: 90%;
  height: 27px;
  margin-left: 5px;
}

.form {
  display: flex;
  width: 250px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: rgb(240, 239, 236);
  align-self: center;

  @media all and (min-width: 768px) {
    width: 320px;
    height: 40px;
  }
}

.input {
  border: none;
  color: rgb(75, 75, 128);
  background-color: whitesmoke;
  align-items: center;
  height: 30px;
  width: 170px;
  border-radius: 10px;
  font-family: $fontBrand;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;

  @media all and (min-width: 768px) {
    font-size: 22px;
    width: 235px;
    height: 38px;
  }
}
.input::placeholder {
  color: lightslategrey;
  font-size: 16px;
  font-weight: normal;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}

.input:focus {
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.searchButton,
.reloadButton {
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 29px;
  cursor: pointer;
  color: rgb(64, 41, 179);
  padding-top: 7px;
  font-size: 20px;
  @media all and (min-width: 768px) {
    height: 38px;
    font-size: 24px;
  }
}
.reloadButton {
  color: rgb(238, 98, 82);
  margin-left: 15px;
  @media all and (min-width: 768px) {
    margin-left: 20px;
    padding-bottom: 5px;
  }
}
.reloadButton:focus,
.searchButton:focus {
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.firmLink {
  text-decoration: none;
}
.copy {
  font-weight: normal;
  font-size: 12px;
  color: white;
  padding: 10px;
  @media all and (min-width: 768px) {
    font-size: 14px;
  }
  @media all and (min-width: 1200px) {
    font-size: 16px;
  }
}
.fa-paw {
  color: cyan;
}
