.mainContainer {
  display: flex;
  margin: 130px 20px 0 20px;
  @media all and (min-width: 770px) {
    margin: 170px 40px 0 40px;
  }
}

.showsContainer {
  width: 100%;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  @media all and (min-width: 780px) {
    margin-left: 70;
  }
}

.showCard {
  cursor: pointer;
  width: 150px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
  transition-property: transform 0.5 ease, box-shadow;
  transition-duration: 0.3s;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0px 0px 10px 1px rgba(0, 0, 0, 0.64);
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
  @media all and (min-width: 768px) {
    margin: 25px;
    width: 190px;
    height: 350px;
  }
  @media all and (min-width: 1200px) {
    width: 230px;
    height: 400px;
  }
}
.seriesTitle {
  color: rgb(52, 52, 107);
  font-size: 16px;
  padding-top: 5px;
  text-align: center;
  font-family: $fontBrand;
  word-wrap: break-word;

  @media all and (min-width: 768px) {
    font-size: 20px;
    padding: 8px 0 5px 0;
  }
  @media all and (min-width: 1200px) {
    font-size: 24px;
  }
}
.seriesImage {
  width: 140px;
  height: 200px;
  align-items: center;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;

  @media all and (min-width: 768px) {
    width: 180px;
    height: 250px;
  }
  @media all and (min-width: 1200px) {
    width: 220px;
    height: 280px;
  }
}
.series--favorite {
  border-radius: 20px;
  border: 4px solid rgb(252, 103, 86);
  background-color: rgb(238, 159, 150);
}
.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3px;
  @media all and (min-width: 768px) {
    margin: 0 5px;
  }
  @media all and (min-width: 1200px) {
    margin: 0 10px;
  }
}
.day {
  margin: 0 3px;
  font-size: 11px;
  font-family: $fontBrand;
  @media all and (min-width: 768px) {
    font-size: 15px;
  }
}
